# **Operators in Python**

1. Arithmetic operator -> +,-,*,/,//,%
2. Logical operator -> and, or, not
3. Bitwise operator --> & -and,| -or, ^ -XOR,	~	-NOT,<<	-Zero fill left shift, >> - Zero fill right shift
4. Relational operator/Comparison operator --> ==	Equal,!=	Not equal,>	Greater than,<	Less than,>=	Greater than or equal to, <= Less than or equal to
5. Assignment operator --> =, +=, -=, *= etc
6. Membership operator --> in, not in
7. Identity operator --> is , not is

### 1. Arithmetic operator


Operator	 --> Name
'+'	 -->           Addition
'-'	 -->          Subtraction
'*'	 -->           Multiplication

'/'	 -->           Division
'%'	 -->           Modulus
'**' -->          Exponentiation
'//'	-->          Floor division

In [3]:
x = 5
y = 3
# add
print('add', x + y)
# sub
print('sub', x - y)
# mul
print('mul',x * y)
# div
print('div', x / y)
# floor div
print('floor div', x // y)
# mod
print('mod', x % y)
# exp
print('exp', x ** y)

add 8
sub 2
mul 15
div 1.6666666666666667
floor div 1
mod 2
exp 125

### 2. Logical operator

And Gate --> if two gates are open ---> 1

Or Gate --> if atleast one gate open ---> 1

Not Gate --> if all gates closed ---> 0

![Logic-Gates-and-Truth-tables.jpg]()

In [5]:
x = 5 # 8421 --> 0101
y = 3 # 8421 --> 0011
# output --> 0,0,0,1
print(x and y) # it will check truthy of x and y, so 1 is the value of output here so it will return y value

3

In [6]:
x = 5 # 8421 --> 0101
y = 3 # 8421 --> 0011
# output --> 0,0,0,1
print(x or y) # it will check truthy of x and y, so 1 is the value of output here so it will return y value

5

In [10]:
x = 5 # 8421 --> 0101
y = 3 # 8421 --> 0011
# output --> 0,0,0,1
print(not(x and y))# it will check truthy of x and y, so 1 is the value of output here so it will return y value

False

### 3. Bitwise operator

1. '&'  - and,
2. '|' -  or,
3. '^' -XOR,
4. '~'	-NOT,
5. '<<'	-Zero fill left shift,
6. '>>' - Zero fill right shift

In [15]:
x = 5 # 8421 --> 0101
y = 3 # 8421 --> 0011
# output --> 0,0,0,1
print('XOR', x ^ y)
print('And',x & y)
print('Or',x | y)
print('Right shift',x << y)
print('Left shift',x >> y)
print('Not',~x)

XOR 6
And 1
Or 7
Right shift 40
Left shift 0
Not -6

### 4. Relational operator/Comparison operator

1. '=='	Equal,
2. '!='	Not equal,
3. '>'	Greater than,
4. '<'	Less than,
5. '>='	Greater than or equal to,
6. '<=' Less than or equal to

In [16]:
x = 5
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

### 5. Assignment operator

1.  =,
2. +=,
3. -=,
4. *=,
5. /= etc

In [18]:
x = 4
y = 3
x += y
print(x)
x -= y
print(x)
x *= y
print(x)
x /= y
print(x)

7
4
12
4.0

### 6. Membership operator

in,
not in

In [21]:
x = 'M' in 'Malavika'
print(x)
y = 'M' not in 'Malavika'
print(y)

True
False

### 7. Identity operator
is , is not

In [25]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)
# returns False because z is the same object as x
print(x is not y)
# returns True because x is not the same object as y, even if they have the same content
print(x != y)
# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

In [1]:
345//100

3

In [2]:
345//10

34

In [3]:
345%10

5

In [4]:
34%10

4

**Operator Exercise to add three numbers**

Steps:

1. collect input from user in a single input
2. perform using floor and mod operator
3. print the result

In [20]:
number = int(input("Enter the numbers to add: "))

a = number//100 #floor division will return the first number,
#the floor division // rounds the result down to the nearest whole number

b = number%10 # mod will return the reminder that is last number
x = number//10
c = x%10
print(a+b+c)

Enter the numbers to add: 675
18

In [21]:
a = number //100
a

6

In [22]:
b = number%10
b

5

In [23]:
x = number//10
x
c = x%10
c

7