# **1. Operator Exercise to add three numbers**

Steps:

1. collect input from user in a single input
2. perform using floor and mod operator
3. print the result

In [1]:
number = int(input("Enter the numbers to add: "))

a = number//100 #floor division will return the first number,
#the floor division // rounds the result down to the nearest whole number

b = number%10 # mod will return the reminder that is last number
x = number//10
c = x%10
print(a+b+c)

Enter the numbers to add: 789
24

# **2. Operator Exercise to sub three numbers**

Steps:

1. collect input from user in a single input
2. perform using floor and mod operator
3. print the result

In [8]:
number = int(input('Enter the number: '))

a = number//100
b = number%10
x = number//10
c = x%10
print(a-b-c)

Enter the number: 456
-7

In [4]:
a = number//100
a

5

In [5]:
b =number%10
b

7

In [6]:
x = number//10
x

56

In [7]:
c = x%10
c

6

# **3. Operator Exercise to mul three numbers**

Steps:

1. collect input from user in a single input
2. perform using floor and mod operator
3. print the result

In [10]:
number = int(input('Enter the number: '))

a = number//100
b = number%10
x = number//10
c = x%10
print(a*b*c)

Enter the number: 234
24

# **4. Operator Exercise to div three numbers**

Steps:

1. collect input from user in a single input
2. perform using floor and mod operator
3. print the result

In [11]:
number = int(input('Enter the number: '))

a = number//100
b = number %10
x = number//10
c = x%10
print(a/b/c)

Enter the number: 334
0.25