# Common Functions 

* len

* max

* min

* sorted

In [5]:
s = 'Welcome to python class'
print(len(s)) # it will return the length of string

23

In [6]:
print(max(s)) # it will return the alphabet max value from the string

y

In [9]:
s = 'Welcome to python class'
min(s) # it will return the alphabet min value from the string and space is the lowest value

' '

In [10]:
sorted(s) # it will return the ouput in list and it will return by ascending order

[' ',
 ' ',
 ' ',
 'W',
 'a',
 'c',
 'c',
 'e',
 'e',
 'h',
 'l',
 'l',
 'm',
 'n',
 'o',
 'o',
 'o',
 'p',
 's',
 's',
 't',
 't',
 'y']

In [12]:
sorted(s,reverse=True) # it will return the ouput in list and it will return by ascending order, 
#reverse operation will do descending

['y',
 't',
 't',
 's',
 's',
 'p',
 'o',
 'o',
 'o',
 'n',
 'm',
 'l',
 'l',
 'h',
 'e',
 'e',
 'c',
 'c',
 'a',
 'W',
 ' ',
 ' ',
 ' ']

In [13]:
s ='Hello Alexa'
sorted(s)

[' ', 'A', 'H', 'a', 'e', 'e', 'l', 'l', 'l', 'o', 'x']

## String Functions

* Captitalize 

* Title 

* Upper  

* Lower  

* Swapcase

In [15]:
s ='hello world'
s.capitalize() # to make captial letter of 1st letter

'Hello world'

In [16]:
s.title() # to make a title each word capital

'Hello World'

In [17]:
s.upper() # to make string to upper case

'HELLO WORLD'

In [18]:
s.lower() # to make string to lower case

'hello world'

In [21]:
s='MaLavIka'
s.swapcase() # this will convert lower case to upper case, uppercase to lowercase

'mAlAViKA'

* count

* find

* index

In [22]:
s = 'My file name is string'
s.count('a') # this will count the letter from string

1

In [23]:
s.count('z')

0

In [24]:
s.find('i') # this will retrun the index number of first 'i'

4

In [25]:
s.find('z') # z is not there so -1

-1

In [27]:
s.index('i') # sam elike find it will return the index numebr of i

4

In [28]:
s.index('z') # but in find it returns -1 , here it is showing error that tha main difference

ValueError: substring not found

* endswith

* startswith

In [29]:
s = 'My name is Malavika'
s.endswith('ka') # can able to check ending and starting string/word

True

In [30]:
s.endswith('la')

False

In [32]:
s.startswith('My')

True

In [33]:
s.startswith('zy')

False

In [35]:
s.endswith('Malavika')

True

In [36]:
s.endswith('malavika')

False

In [37]:
s.startswith('alavika')

False

* format

In [39]:
name = 'Malu'
age = 26

s = "My name is {} and I am {}" 

s.format(name,age) # it works based on the order

'My name is Malu and I am 26'

In [42]:
name = 'Malu'
age = 26

s = "My name is {} and I am {}"

s.format(age,name) # if we didn't mentioned good order than output will be colapse

'My name is 26 and I am Malu'

In [40]:
name = 'Malu'
age = 26

s = "My name is {1} and I am {0}" # need to mention number (i.e) if the order is changed

s.format(age,name)

'My name is Malu and I am 26'

* isalnum 

* isalpha 

* isdigit 

* isidentifier

In [45]:
s = 'Malavika123'
s.isalnum()

True

In [47]:
s = 'Malavika@123'
s.isalnum()

False

In [49]:
s ='12444'
s.isalnum()

True

In [50]:
s = 'Malavika@123'
s.isalpha()

False

In [51]:
s = 'Malavika'
s.isalpha()

True

In [54]:
s ='12444'
s .isdigit()

True

In [55]:
s = '1mak'
s.isidentifier()

False

In [56]:
s = 'mak'
s.isidentifier()

True

In [57]:
s = '_mak'
s.isidentifier()

True

* split

* join

In [58]:
s ='My name is Malavika'
s.split()

['My', 'name', 'is', 'Malavika']

In [62]:
s ='My, name, is, Malavika'
s.split(',')

['My', ' name', ' is', ' Malavika']

In [63]:
s ='My- name- is- Malavika'
s.split('-')

['My', ' name', ' is', ' Malavika']

In [66]:
words = ['Hi','Hello','Welcome']

In [68]:
s=" "
s = s.join(words)
s

'Hi Hello Welcome'

* replace

* strip

In [69]:
s = 'my name is malavika'
s.replace('malavika','malu')

'my name is malu'

In [70]:
s = 'Welcome Home      '
len(s)

18

In [72]:
s=s.strip()
s

'Welcome Home'

In [73]:
len(s)

12