### Tuples

* similar to list.

* its an immutable.(not able to change once assigned)


### Characterstics

* Ordered

* Unchangeble

* Allows duplicate

* Topic to be discussed

* Creating a Tuple

* Accessing items

* Editing items

* Adding items

* Deleting items

* Operations on Tuples

* Tuple Functions

### creating tuple

In [2]:
# create a tuple

t = () 
print(type(t))

<class 'tuple'>

In [3]:
t = (1) # it will get consider as int, need to put comma 
print(type(t))

<class 'int'>

In [4]:
t = (1,)
print(type(t))

<class 'tuple'>

In [5]:
t = (1,2,3,4)
print(type(t))

<class 'tuple'>

In [8]:
t = (1,2,3,'True')
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3, 'True')

In [9]:
t = (1,2,3,'True',[12,3])
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3, 'True', [12, 3])

In [10]:
t = (1,2,3,(4,5,6))
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3, (4, 5, 6))

### Accessing Tuple

* Indexing

* Slicing

In [11]:
t = (1,2,3,4,5,6)
t[0]

1

In [13]:
t[0:4]

(1, 2, 3, 4)

In [14]:
t[-1]

6

In [15]:
t[-4:-1]

(3, 4, 5)

In [16]:
t[0::2]

(1, 3, 5)

In [24]:
t[1::2]

(2, 4, 6)

### editing and deleting (not able to perform bcoz its immutable)

In [34]:
del t[3]

TypeError: 'tuple' object doesn't support item deletion

In [25]:
t[0] =100 # not possible becoz immutable

TypeError: 'tuple' object does not support item assignment

### Type Casting

In [28]:
# can perform type casting for changing the value

t = (1,2,3,4,5,6,7,8)
print(type(t))

<class 'tuple'>

In [29]:
temp = list(t)
print(temp)
print(type(temp))

[1, 2, 3, 4, 5, 6, 7, 8]
<class 'list'>

In [30]:
temp.append(1000)
temp

[1, 2, 3, 4, 5, 6, 7, 8, 1000]

In [31]:
temp[2] = 20000
temp

[1, 2, 20000, 4, 5, 6, 7, 8, 1000]

In [32]:
t = tuple(temp)
print(t)
print(type(t))

(1, 2, 20000, 4, 5, 6, 7, 8, 1000)
<class 'tuple'>