### Sets

- A set is an unordered collection of items. 

- Every set element is unique (no duplicates) 

- it can store immutable datatype (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

### Characterstics:

Unordered

Mutable

No Duplicates

Can't contain mutable data types

### Creating sets

In [2]:
s={} # it will consider it as dictionary
print(type(s))

<class 'dict'>

In [5]:
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [6]:
s = {1,2,3,4}
s

{1, 2, 3, 4}

In [7]:
s = {1,2,3,4,'True'}
s

{1, 2, 3, 4, 'True'}

In [8]:
s = {1,2,3,{4,5}} # nested set is not possible in set creation
s

TypeError: unhashable type: 'set'

In [10]:
s = {1,2,3,[1,2,3]} # here list is an mutable so not able to use inside set
s

TypeError: unhashable type: 'list'

In [12]:
s = {1,2,3,(4,5)} # tuple is an immutable so can able to use inside a set
s

{(4, 5), 1, 2, 3}

In [13]:
s = {1,2,3,4,'True',(4,5,6),10,100}
print(s) # it is an ordered collection of value so it will print in a random way

{1, 2, 3, 100, 4, 'True', 10, (4, 5, 6)}

### Accessing and Indexing

In [14]:
s = {1,2,3,4,'True',(4,5,6),10,100}

In [15]:
print(s[0]) # set contains no index value bcz its an unordered collection of value

TypeError: 'set' object is not subscriptable

In [16]:
print(s[1:3])

TypeError: 'set' object is not subscriptable

In [17]:
s[0]=100

TypeError: 'set' object does not support item assignment

### Functions in set

### add

In [19]:
s = {1,2,3,4,'True',(4,5,6),10,100}

In [20]:
s.add(1000)
s

{(4, 5, 6), 1, 10, 100, 1000, 2, 3, 4, 'True'}

### update

In [24]:
s.update([900])
s

{(4, 5, 6), 1, 10, 100, 1000, 2, 3, 4, 900, 'True'}

In [25]:
s.update([900,'a','b'])
s

{(4, 5, 6), 1, 10, 100, 1000, 2, 3, 4, 900, 'True', 'a', 'b'}

### to remove items

In [26]:
s.discard(1000)
s

{(4, 5, 6), 1, 10, 100, 2, 3, 4, 900, 'True', 'a', 'b'}

In [27]:
s.remove(100)
s

{(4, 5, 6), 1, 10, 2, 3, 4, 900, 'True', 'a', 'b'}

In [28]:
s.pop()
s

{(4, 5, 6), 10, 2, 3, 4, 900, 'True', 'a', 'b'}

In [29]:
s.clear()
s

set()

In [ ]:
s