### len/sum/min/max/sorted

In [1]:
s ={1,2,3,4,5}
print(len(s))
print(min(s))
print(max(s))
print(sum(s))
print(sorted(s,reverse=True))

5
1
5
15
[5, 4, 3, 2, 1]

### union/update

In [2]:
s1 ={1,2,3,4,5}
s2 ={3,4,5,6,7}

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [4]:
s1.update(s2)
print('s1:',s1)
print('s2:',s2)

s1: {1, 2, 3, 4, 5, 6, 7}
s2: {3, 4, 5, 6, 7}

### intersection/intersection_update

In [8]:
s1 ={1,2,3,4,5}
s2 ={3,4,5,6,7}
s1.intersection(s2)
# print('s1:',s1)
# print('s2:',s2)

{3, 4, 5}

In [10]:
s1 ={1,2,3,4,5}
s2 ={3,4,5,6,7}
s1.intersection_update(s2)
print('s1:',s1)
print('s2:',s2)

s1: {3, 4, 5}
s2: {3, 4, 5, 6, 7}

### difference/difference_update

In [12]:
s1 ={1,2,3,4,5}
s2 ={3,4,5,6,7}
s1.difference(s2)
# print('s1:',s1)
# print('s2:',s2)

{1, 2}

In [14]:
s2.difference(s1)

{6, 7}

In [17]:
s1 ={1,2,3,4,5}
s2 ={3,4,5,6,7}
s1.difference_update(s2)
print('s1:',s1)
print('s2:',s2)

s1: {1, 2}
s2: {3, 4, 5, 6, 7}

### symmetric_difference/symmetric_difference_update

In [18]:
s1 ={1,2,3,4,5}
s2 ={3,4,5,6,7}
s1.symmetric_difference(s2)
# print('s1:',s1)
# print('s2:',s2)

{1, 2, 6, 7}

In [19]:
s1 ={1,2,3,4,5}
s2 ={3,4,5,6,7}
s1.symmetric_difference_update(s2)
print('s1:',s1)
print('s2:',s2)

s1: {1, 2, 6, 7}
s2: {3, 4, 5, 6, 7}

### isdisjoint/issubset/issuperset

In [21]:
s1 ={1,2,3,4,5}
s2 ={3,4,5,6,7}

s1.isdisjoint(s2) # will check if same value present false elase true

False

In [22]:
s1 ={1,2,3,4,5}
s2 ={8,9,10,6,7}

s1.isdisjoint(s2)

True

In [25]:
s1 ={1,2,3,4,5}
s2 ={3,4,5}

s1.issubset(s2)

False

In [26]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s2.issubset(s1)

True

In [27]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s2.issuperset(s1)

False

In [28]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True

### copy()

In [31]:
s1 = {1,2,3,4}
s2 =s1.copy()
print(s2)

{1, 2, 3, 4}