### Dictionary

* Dictionary in Python is a collection of keys and value pairs,

* used to store data values like a map, which, unlike other data types which hold only a single value as an element.

* In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'Harini' , 'age' : 22 , 'gender' : 'female' }

Characterstics:

- Mutable

- Indexing has no meaning

- keys can't be duplicated

- keys can't be mutable items

### Creating dictionary

In [5]:
# empty dict
d = {}
print(type(d))
print(d)

<class 'dict'>
{}

In [3]:
# 1d dict
d1 = {"name":"kavi","age":22,"gender":"male","weight":67}
print(d1)

{'name': 'kavi', 'age': 22, 'gender': 'male', 'weight': 67}

In [4]:
# immutable key dict
d2 = {(1,2,3):'Ruba','Age':89}
d2

{(1, 2, 3): 'Ruba', 'Age': 89}

In [8]:

d3 = {1:'a',2:'b',[1,'A']:23}  # not able to add immutable datatype in keys
d3

TypeError: unhashable type: 'list'

In [9]:
# 2d 

d4 = {'name':'Abi',
      'Age': 21,
      'DOB':'12-01-1998',
      'Semester': 5,
      'Subjects':{'English':78,'Tamil':90,'Maths':98}}
print(d4)

{'name': 'Abi', 'Age': 21, 'DOB': '12-01-1998', 'Semester': 5, 'Subjects': {'English': 78, 'Tamil': 90, 'Maths': 98}}

In [10]:
# using dict keyword

d5 = dict([('name','Abi'),('Gender','Female'),('Age',23)])
d5

{'name': 'Abi', 'Gender': 'Female', 'Age': 23}

In [13]:
# dict with duplicate

d6 = {"name":"kavi","name":"Hari","age":22,"gender":"male","weight":67}
d6

{'name': 'Hari', 'age': 22, 'gender': 'male', 'weight': 67}

### Accessing dictionary

In [14]:
d = dict([('name','Abi'),('Gender','Female'),('Age',23)])
d['name']

'Abi'

In [15]:
d['Age']

23

In [17]:

d2 = {'name':'Abi',
      'Age': 21,
      'DOB':'12-01-1998',
      'Semester': 5,
      'Subjects':{'English':78,'Tamil':90,'Maths':98}}
# print(d4)

d2['Subjects']['English']

78

### Changing values

In [20]:
d = {'name': 'Abi', 'Gender': 'Female', 'Age': 23}
d['name']='Hari'
print(d)

{'name': 'Hari', 'Gender': 'Female', 'Age': 23}

### Adding values

In [21]:
d = {'name': 'Abi', 'Gender': 'Female', 'Age': 23}
d['Weight']=90
d

{'name': 'Abi', 'Gender': 'Female', 'Age': 23, 'Weight': 90}

In [22]:
d2 = {'name':'Abi',
      'Age': 21,
      'DOB':'12-01-1998',
      'Semester': 5,
      'Subjects':{'English':78,'Tamil':90,'Maths':98}}
# print(d4)

d2['Subjects']['Science'] = 99
d2

{'name': 'Abi',
 'Age': 21,
 'DOB': '12-01-1998',
 'Semester': 5,
 'Subjects': {'English': 78, 'Tamil': 90, 'Maths': 98, 'Science': 99}}

### Removing dic

In [23]:
d = {'name': 'Abi', 'Gender': 'Female', 'Age': 23, 'Weight': 90}
d

{'name': 'Abi', 'Gender': 'Female', 'Age': 23, 'Weight': 90}

In [24]:
d.pop('Weight')
d

{'name': 'Abi', 'Gender': 'Female', 'Age': 23}

In [25]:
d.popitem()
d

{'name': 'Abi', 'Gender': 'Female'}

In [27]:
d = {'name': 'Abi', 'Gender': 'Female', 'Age': 23, 'Weight': 90}
del d['name']
d

{'Gender': 'Female', 'Age': 23, 'Weight': 90}

In [28]:
d.clear()
d

{}