### Higher Order Functions

- map

- filter

- reduce

### map  

--> this will map the results

In [1]:
# square the items of a list
list(map(lambda x: x**2, [1,2,3,4,5])) # here it will take input from list and it will get map to give output

[1, 4, 9, 16, 25]

In [3]:
# cube 

L = [1,2,4,5,5]

cube = map(lambda x:x**3,L)
cube # need to mention list otherwise it will return only object

In [4]:
# cube 

L = [1,2,4,5,5]

cube = list(map(lambda x:x**3,L))
cube

[1, 8, 64, 125, 125]

In [7]:
# odd/even

L = [1,2,3,4,5]

odd_even = list(map(lambda x: 'even' if x%2 ==0 else 'odd',L))
print(odd_even)

['odd', 'even', 'odd', 'even', 'odd']

In [15]:
d =list(zip(L, odd_even))
d

[(1, 'odd'), (2, 'even'), (3, 'odd'), (4, 'even'), (5, 'odd')]

In [34]:
# odd/even

L = [1,2,3,4,5]

odd_even = list(map(lambda x: 'even' if x%2 ==0 else 'odd',L))

for i,label in zip(L,odd_even):
    print(i ,"=" ,label)

1 = odd
2 = even
3 = odd
4 = even
5 = odd

In [17]:
# fetch items from a list of dict

users = [
    {
        'name':'Alex',
        'age':45,
        'gender':'Male'
        },
    {
        'name':'Hari',
        'age':35,
        'gender':'Male' 
        },  
    {
        'name':'Rinu',
        'age':30,
        'gender':'Female' 
    }
]

In [24]:
users[0]

{'name': 'Alex', 'age': 45, 'gender': 'Male'}

In [25]:
list(map(lambda users : users['name'],users))

['Alex', 'Hari', 'Rinu']

In [26]:
list(map(lambda users : users['age'],users))

[45, 35, 30]

In [27]:
list(map(lambda users : users['gender'],users))

['Male', 'Male', 'Female']

### filter

In [28]:
# numbers greater than 2

L =[1,2,3,4,5]

list(filter(lambda x: x>2,L))

[3, 4, 5]

In [29]:

# fetch fruits starting with 'a'
fruits = ['apple','guava','cherry']
list(filter(lambda x: x.startswith('a'),fruits))

['apple']

### reduce

In [30]:
# sum of all items

import functools
L = [1,2,3,4,5]
functools.reduce(lambda x,y : x+y, L)

15

In [32]:
# find min
import functools
L = [11,42,63,0,9]
functools.reduce(lambda x,y : x if x<y else y, L)

0