### Problem-1: Write a Python function that takes a list and returns a new list with unique elements of the first list.

Example:

Input:

[1,2,3,3,3,3,4,5]

Output:

[1, 2, 3, 4, 5]

In [2]:
def unique(L):
    result = []
    for i in L:
        if i not in result:
            result.append(i)
    return result

L = [1,2,3,3,3,3,4,5]
unique(L)

[1, 2, 3, 4, 5]

### Problem-2: Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

Example:

Input:

green-red-yellow-black-white

Output:

black-green-red-white-yellow

In [4]:
string = "green-red-yellow-black-white"
sorted(string.split('-'))

['black', 'green', 'red', 'white', 'yellow']

In [7]:
def hyphen_separated_seq(string):
    temp = []
    for i in sorted(string.split('-')):
        temp.append(i)
    return "-".join(temp)


string = "green-red-yellow-black-white"
output = hyphen_separated_seq(string)    
print(output)

black-green-red-white-yellow

### Problem 3- A dictionary contains following information about 5 employees:

First name

Last name

Age

Grade(Skilled,Semi-skilled,Highly skilled)

Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [8]:
employees = [
    {
        'fname':'Malavika',
        'lname':'Gowthaman',
        'age' : 26,
        'grade':'skilled'
    },
    {
        'fname':'Alex',
        'lname':'Musk',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Bunny',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }
    
]

In [15]:
skilled_names = list(filter(lambda x : True if x['grade'] == 'highly-skilled' else False, employees))
skilled_names

[{'fname': 'Bunny', 'lname': 'Singh', 'age': 35, 'grade': 'highly-skilled'},
 {'fname': 'Abhinav', 'lname': 'Sharma', 'age': 37, 'grade': 'highly-skilled'}]

In [17]:
list(map(lambda x:x['fname'] + " " + x['lname'],employees))
names_alonenames_alone =

['Malavika Gowthaman',
 'Alex Musk',
 'Bunny Singh',
 'Anurag Kumar',
 'Abhinav Sharma']

In [21]:
high_skilled_names = list(map(lambda x:x['fname'] + " " + x['lname'], list(filter(lambda x: True if x['grade'] == "highly-skilled" else False,employees))))

high_skilled_names

['Bunny Singh', 'Abhinav Sharma']